.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
}

.team-member p {
  margin-top: 0;
}

.row {
  justify-content: center;
}

.contract-content {
  text-align: left;
}

#about a {
  color: #ddd;
}

/* hide */
#video:not(:hover) #list {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .05s,
              font-size .1s .05s,
              margin .1s .05s,
              padding .1s .05s;
}

#kevin:not(:hover) #moreinfo {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .25s,
              font-size .5s .25s,
              margin .5s .25s,
              padding .5s .25s;
}

#lab-hover:not(:hover) #moreinfo {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .25s,
              font-size .5s .25s,
              margin .5s .25s,
              padding .5s .25s;
}

/* reveal */
#video:hover #list {
  /* unshrink, then fade in */
  transition: font-size .25s,
              margin .25s,
              padding .25s,
              opacity .5s .25s;
}

#kevin:hover #moreinfo {
  /* unshrink, then fade in */
  transition: font-size .25s,
              margin .25s,
              padding .25s,
              opacity .5s .25s;
}

#lab-hover:hover #moreinfo {
  /* unshrink, then fade in */
  transition: font-size .25s,
              margin .25s,
              padding .25s,
              opacity .5s .25s;
}

/* the opposite of hide */
#video:not(:hover) #unhide {
  /* unshrink, then fade in */
  transition: font-size .25s,
              margin .25s,
              padding .25s,
              opacity .5s .25s;
}
#video:hover #unhide {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .05s,
              font-size .1s .05s,
              margin .1s .05s,
              padding .1s .05s;
}