header.masthead {
  padding-top: calc(3rem + 72px);
  padding-bottom: 6rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(4rem + 72px);
    padding-bottom: 6rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}

header.masthead::after {
  content: "";
  background: url(../img/labbench_dark.jpg);
  top: 0;
  left: 0;
  bottom: -200px;
  right: 0;
  position: absolute;
  z-index: -1;   
}
